* {
    font-family: "Times New Roman", Times, serif;
}

.textInfo {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

body {
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

.tableSection {
    text-align: center;
}

.primeGeneratorHeading {
    left: 50%;

    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

section {
    padding : 10px;
}

.optionsSection {
    width : 100%;
    position : relative;
    border: 1px solid #000000;

}

.primeGenerationSpeedTextBox {
    width: 25%;
    text-align: center;
    border: 1px solid #000000;
}

.increasePrimeGeneratorSpeedButton {
    text-align: center;
    border: 1px solid #000000
}

.decreasePrimeGeneratorSpeedButton {
    text-align: center;
    border: 1px solid #000000
}

.resetPrimeGeneratorSpeedButton {
    text-align: center;
    border: 1px solid #000000
}

.primeGenerationLengthTextBox {
    text-align: center;
    border: 1px solid #000000;
}

.primeGenerationLengthPromptBox {
    text-align: center;
    border: 1px solid #000000;
}

.primeGenerationLengthInputBox {
    text-align: center;
    border: 1px solid #000000
}

.primeGenerationLengthInputBoxSubmitButton {
    text-align: center;
    border: 1px solid #000000
}

.increasePrimeGeneratorLengthButton {
    text-align: center;
    border: 1px solid #000000
}

.decreasePrimeGeneratorLengthButton {
    text-align: center;
    border: 1px solid #000000
}

.resetPrimeGeneratorLengthButton {
    text-align: center;
    border: 1px solid #000000
}

.primeGeneratorTextInputForm {
    width : 100%;
    height : 100%;
    text-align: center;
}

table.numberTable {
    border: 5px solid black;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

td.Unprocessed-Value {
    background-color: grey;
}

td.Not-Prime {
    background-color: red;
}

td.Is-Prime {
    background-color: green;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}

td.tableElementButton {
    height: 100%;
}

/*tableButton {
    width: 100%;
    height: 100%;
}*/

ul.unorderedListNoBulletPoint {
    list-style-type:none;
}
