* {
    font-family: "Times New Roman", Times, serif;
}

.textInfo {
    text-align: center;
    vertical-align: middle;
}

body {
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

.tableSection {
    text-align: center;
}

.primeGeneratorHeading {
    left: 50%;

    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

section {
    padding : 10px;
}

.optionsSection {
    position : relative;
    border: 1px solid #000000;

}

.primeGenerationSpeedTextBox {
    text-align: center;
    border: 1px solid #000000;
}

.increasePrimeGeneratorSpeedButton {
    text-align: center;
    border: 1px solid #000000
}

.decreasePrimeGeneratorSpeedButton {
    text-align: center;
    border: 1px solid #000000
}

.resetPrimeGeneratorSpeedButton {
    text-align: center;
    border: 1px solid #000000
}

.primeGenerationLengthTextBox {
    text-align: center;
    border: 1px solid #000000;
}

.primeGenerationLengthPromptBox {
    text-align: center;
    border: 1px solid #000000;
}

.primeGenerationLengthInputBox {
    width: 100%;
    height: 50%;
    text-align: center;
    border: 1px solid #000000
}

.primeGenerationLengthInputBoxSubmitButton {
    width: 100%;
    height: 50%;
    text-align: center;
    border: 1px solid #000000
}

.increasePrimeGeneratorLengthButton {
    text-align: center;
    border: 1px solid #000000
}

.decreasePrimeGeneratorLengthButton {
    text-align: center;
    border: 1px solid #000000
}

.resetPrimeGeneratorLengthButton {
    text-align: center;
    border: 1px solid #000000
}

.primeGeneratorTextInputForm {
    text-align: center;
}

table.numberTable {
    border: 5px solid black;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Unprocessed-Value {
    background-color: grey;
}

.Not-Prime {
    background-color: red;
}

.Is-Prime {
    background-color: green;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}

td.tableElementButton {
    height: 100%;
}

/*tableButton {
    width: 100%;
    height: 100%;
}*/

ul.unorderedListNoBulletPoint {
    list-style-type:none;
}

.flex-flow-row {
    display: flex;
    flex-flow: row wrap;
}

.flex-equal-sized-row{
    flex: 1 1 0;
}

.grid-container-4-items {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 10px;
}

.grid-container-10-items {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  padding: 10px;
}

.grid-container-2-items {
  display: grid;
  grid-template-columns: 30% auto;
  padding: 10px;
}

.grid-container-auto-fill-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-auto-rows: 20px;
    grid-gap: 5px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 16px;
  text-align: center;
}

div.primesFoundSection {
    position: relative;
    width: 45%;
    top: 0%;
    padding: 5px;
    float: left;
}

div.primeGenerationVisualisationSection {
    position: relative;
    width: 45%;
    top: 0%;
    padding: 5px;
    float: left;
}

h2.offsetHeader {
    position: relative;
    height: 50px;
}
