.optionsSection {
    width : 480px;
    height : 160px;
    position : relative
}

.primeGenerationSpeedTextBox {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0px;
    left: 0px;
    width : 158px;
    height : 40px;
    border: 1px solid #000000
}

.increasePrimeGeneratorSpeedButton {
    position: absolute;
    top: 40px;
    left: 0px;
    width : 160px;
    height : 40px;
    border: 1px solid #000000
}

.decreasePrimeGeneratorSpeedButton {
    position: absolute;
    top: 80px;
    left: 0px;
    width : 160px;
    height : 40px;
    border: 1px solid #000000
}

.resetPrimeGeneratorSpeedButton {
    position: absolute;
    top: 120px;
    left: 0px;
    width : 160px;
    height : 40px;
    border: 1px solid #000000
}

.primeGenerationLengthTextBox {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0px;
    left: 160px;
    width : 158px;
    height : 40px;
    border: 1px solid #000000
}

.primeGenerationLengthPromptBox {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0px;
    left: 320px;
    width : 158px;
    height : 40px;
    border: 1px solid #000000
}

.primeGenerationLengthInputBox {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 40px;
    left: 0px;
    width : 158px;
    height : 40px;
    border: 1px solid #000000
}

.primeGenerationLengthInputBoxSubmitButton {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 80px;
    left: 0px;
    width : 158px;
    height : 40px;
    border: 1px solid #000000
}

.increasePrimeGeneratorLengthButton {
    position: absolute;
    top: 40px;
    left: 160px;
    width : 160px;
    height : 40px;
    border: 1px solid #000000
}

.decreasePrimeGeneratorLengthButton {
    position: absolute;
    top: 80px;
    left: 160px;
    width : 160px;
    height : 40px;
    border: 1px solid #000000
}

.resetPrimeGeneratorLengthButton {
    position: absolute;
    top: 120px;
    left: 160px;
    width : 160px;
    height : 40px;
    border: 1px solid #000000
}

.primeGeneratorTextInputForm {
    position: absolute;
    top: 0px;
    left: 320px;
    width : 160px;
    height : 120px;
    border: 1px solid #000000
}

table {
    border: 5px solid black;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

td.Unprocessed-Value {
    background-color: grey;
}

td.Not-Prime {
    background-color: red;
}

td.Is-Prime {
    background-color: green;
}
